/* Add CSS Styling */
.odd {
    background-color: #ffb6c1;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
.cooler {
    font-size: 24px;
}
#blue {
    color: blue;
    font-size: 36px;
}
#green {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}